$background-color: whitesmoke;
$color: red;
* {
  margin: 5vh auto;
}



div.counter{
  width: 50vh;
  padding: 2em;
  border-radius: 200px 200px 200px 200px;
  border: solid 1px black;
  box-shadow: inset 10px 10px 2px -7px rgba(0,0,0,0.77);

  h4{
    width: 5%;
    height: 5%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border-radius: 200px 200px 200px 200px;
    background-color: $background-color;
    box-shadow: inset 10px 10px 2px -7px rgba(0,0,0,0.77);

  }
  button{
    justify-content: space-between;
    border-radius: 10px 10px 10px 10px;
    box-shadow:  10px 10px 2px -7px rgba(0,0,0,0.77);

    .error {
      color: red;
    }

    .counter{
      color: black;
    }

  }
  button:hover{
    background-color: #6c6e8b;
  }
  button.incrementButton{
    padding: 10px;

  }

  button.decrementButton {
    padding: 10px;
  }
}

Footer {
  width: 50%;
  height: 25%;
  text-align: center;
}

Header {
  text-align: right;
  width: 50%;
  height: 25%;
  background: $background-color;
  box-shadow: 0px 0px 300px 26px lightgrey;
  border: 1px solid lightgrey;
}





